<div class="form-group">
  <div class="form-group-header">
    <label for="{{env}}">
      <input type="checkbox" name="{{env}}" />
      {{name}}
      {{> tooltip description=description }}
    </label>
  </div>
</div>