<div class="form-group">
  <div class="form-group-header">
    <label for="{{env}}">{{name}}</label>
    {{> tooltip description=description }}
  </div>
  <div class="form-group-body">
    <input class="form-control" type="text" name="{{env}}" value="{{value}}" />
  </div>
</div>