<div class="form-group">
  <div class="form-group-header">
    <label for="{{env}}">{{name}}</label>
    {{> tooltip description=description }}
  </div>
  <div class="form-group-body">
    <select class="form-select">
      {{#each options}}
      <option>{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>