<div class="form-group">
  <div class="form-group-header">
    <label for="{{env}}">{{name}}</label>
    {{> tooltip description=description }}
  </div>
  <div class="form-group-body">
    <textarea class="form-control" name="{{env}}">{{~value~}}</textarea>
  </div>
</div>