<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prebot</title>
  <link rel="icon" href="/probot-head.png">
  <link rel="stylesheet" href="/primer.css">
</head>

<body class="bg-gray-light p-6">
  <div class="d-flex flex-column flex-items-center text-center">
    <img src="/robot.svg" alt="Probot Logo" width="100" class="mb-6">
    <div class="box-shadow rounded-2 border p-6 bg-white">
      {{{body}}}
    </div>
  </div>
</body>

</html>