<h1>Configuration Editor</h1>

<div class="text-left">
  <form method="POST">
    {{#each params}}
    {{!-- Dynamically determine which form control to render for each field --}}
    {{> (lookup . 'inputType')}}
    {{/each}}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
</div>