<h1>Almost done!</h1>

<p>Your app has been configured but needs to be registered. Please follow the instructions after this page reloads.</p>

<p>We're reloading your app in the background<span class="AnimatedEllipsis"></span></p>

<script type="text/javascript">
  let intervalId;

  function waitForProbot() {
    const req = new XMLHttpRequest();

    req.addEventListener("load", function handleLoad() {
      if (this.status === 200) {
        intervalId && clearInterval(intervalId);
        window.location.href = "/probot";
      }
    });

    req.open("GET", "/probot");
    req.send();
  }

  intervalId = setInterval(waitForProbot, 3000);
</script>